<app-nav></app-nav><br><br>

<div class="container">

    <div class="title">
        <h2>Hover on each section for more content</h2>
    </div>

    <div class="section">
        <div class="datatype">
            <h3>Data Types</h3>
            <p>Javascript has 7 data types: String, Number, Boolean, Null, Undefined, Symbol and finally Objects with Arrays and Functions</p>
            <p></p>
        </div>
    </div>

    <div class="section">
        <div class="objects">
            <h3>Objects</h3>
            <p>An object is a data type in JS that is used to store a combination of data in a simple key-value pair.</p>
        </div>
    </div>

    <div class="section">
        <div class="function">
            <h3>Functions</h3>
            <p>A function is simply a bunch of code bundled in a section, that only runs when a function is called. It allow for organizing code into sections and code reusability.</p>
        </div>        
    </div>

    <div class="section">
        <div class="scope">
            <h3>Scope</h3>
            <p>The limits in which a variable exists.</p>
            <ul>
                <li>Global scope</li>
                <li>Functional scope</li>
                <li>Lexical scope</li>
            </ul>
        </div>        
    </div>

    <div class="section">
        <div class="operators">
            <h3>Operators</h3>
            <p>Operators are reserved-words that perform action on values and variables.</p>
            <ul>
                <li>Arithmetic: +,-,*,/,%,**</li>
                <li>Assignment: =,+=,-=,*=</li>
            </ul>
        </div>        
    </div>

    <div class="section">
        <div class="coercion">
            <h3>Coercion</h3>
            <p>When trying to compare different 'types', the JavaScript engine attempts to convert one type into another so it can compare the two values.</p>
        </div>        
    </div>

    <div class="section">
        <div class="conditional">
            <h3>Conditional</h3>
            <p>It allows our program to run specific code only if certain conditions are met.<br><b>Ternary Operator:</b> <br>(expression)? ifTrue: ifFalse;</p>
        </div>        
    </div>

    <div class="section">
        <div class="loops">
            <h3>Loop Statements</h3>
            <p>Loops are used to do something repeatedly. Lets say we have a list of 50 blog posts from DB and we want to print their titles. Instead of writing the code 50 times we would use loops.</p>
        </div>         
    </div>

</div>