<app-nav></app-nav>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  </head>
  <body>
    <div class="container">
        <a class="icon" href="https://codepen.io/Nabi_">
            <i class="fab fa-codepen"></i>
        </a>
        <a class="icon" href="https://github.com/Tarunika07?tab=repositories">
            <i class="fab fa-github"></i>
        </a>
        <a class="icon" href="mailto: sakthitaru@gmail.com">
          <i class="fab fa-google"></i>
        </a>
        <a class="icon" href="https://www.instagram.com/tarunika_7/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
  </body>
 