<app-nav></app-nav>

<div class="container1">
    <h1 class="mainheader">Cheat<br>Sheets</h1>
    <p class="maintext">A cheat sheet (also cheatsheet) or crib sheet is a concise set of notes used for quick reference. Here is a small collection of topics from HTML, CSS and JS.</p>
</div>

<div class="container">
	<a class="post" routerLink="/html">
		<h2 class="post-title">Hypertext Markup Language </h2>
	</a>

    <a class="post" routerLink="/css">
        <h2 class="post-title">Cascading Style Sheets </h2>
    </a>

    <a class="post" routerLink="/js">
        <h2 class="post-title">JavaScript </h2>
    </a>
</div> 